*{
  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;
  box-sizing:border-box;
}

body{
  background:#eef2ff;
  padding:20px;
}

.container{
  max-width:480px;
  margin:auto;
}

.card{
  background:white;
  padding:22px;
  margin-bottom:20px;
  border-radius:16px;
  box-shadow:0 6px 20px rgba(0,0,0,0.08);
}

.input{
  width:100%;
  padding:12px;
  border-radius:10px;
  margin-top:10px;
  border:1px solid #d0d3e2;
}

.btn{
  width:100%;
  padding:14px;
  background:#4B7BE5;
  color:white;
  border:none;
  border-radius:12px;
  font-size:16px;
  margin-top:12px;
}
